.side-booster-left div {
  background: #3BD186;
  width: 150px;
  height: 100px;
}

.interstage div {
  background: #3BD186;
  width: 300px;
  height: 100px;
}

.side-booster-right div {
  background: #3BD186;
  width: 150px;
  height: 100px;
}